<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>React Personal Portfolio Boilerplate</title>
    <link rel="icon" type="image/x-icon" href="images/fullstack.ico" />
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="jumbotron">
          <h1>{{ title }}</h1>
          <p>This is a bare-bones template.</p>
          <ul>
          {% for person in people %}
            <li>{{ person.name }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
